<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Designer | Image</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <script src="/js/image.js" defer></script>

  <body>
    
    <img src="/uploads/<%= filename %>" alt="">
     
  </body>
</html>
